*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin:auto;
}
header{
    background: url("wr.jpg");
    height: 100vh;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    position: relative; 
}